# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
CMakeFiles/
*txt
cpp/space-age/\.solution\.json

cpp/space-age/\.vs/space-age/v15/

*.vcxproj

*.filters

*.user

*.cmake

cpp/space-age/Debug/

*.log

cpp/space-age/space-age\.dir/Debug/space-age\.tlog/

cpp/space-age/space-age\.dir/Debug/

*.tlog

cpp/scrabble-score/

cpp/binary/\.vs/

cpp/binary/binary\.dir/

cpp/binary/Debug/

*.json
