# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
CMakeFiles/
*txt
cpp/space-age/\.solution\.json

cpp/space-age/\.vs/space-age/v15/

*.vcxproj

*.filters

*.user

*.cmake

cpp/space-age/Debug/

*.log

cpp/space-age/space-age\.dir/Debug/space-age\.tlog/

cpp/space-age/space-age\.dir/Debug/

*.tlog

cpp/scrabble-score/

cpp/binary/\.vs/

cpp/binary/binary\.dir/

cpp/binary/Debug/

*.json

cpp/hexadecimal/\.vs/

cpp/hexadecimal/Debug/

cpp/hexadecimal/hexadecimal\.dir/

cpp/difference-of-squares/\.vs/

cpp/difference-of-squares/Debug/

cpp/difference-of-squares/difference-of-squares\.dir/

cpp/nucleotide-count/\.vs/

cpp/nucleotide-count/Debug/

cpp/nucleotide-count/nucleotide-count\.dir/

cpp/grade-school/\.vs/

cpp/grade-school/Debug/

cpp/grade-school/grade-school\.dir/

cpp/robot-name/\.vs/

cpp/robot-name/Debug/

cpp/robot-name/robot-name\.dir/

cpp/sum-of-multiples/sum-of-multiples\.dir/

cpp/sum-of-multiples/Debug/

cpp/sum-of-multiples/\.vs/

cpp/meetup/\.vs/

cpp/prime-factors/\.vs/
java/hello-world/.project

java/hello-world/\.gradle/

java/hello-world/\.settings/

java/hello-world/build/

users/

java/*/\.gradle/

java/*/\.settings/

java/*/\.project

java/*/\.gradle/

java/*/build/

java/\.vs/

java/*/\.idea/

java/*/gradle/

java/*/build\.gradle

java/*/gradlew

java/*/gradlew\.bat

java/*/local\.properties

java/*/*\.iml
